/target/
/META-INF/
/.scannerwork/
/out/*
/sqls/*
/loadingAir/src/LoadingAir.airi
/loadingAir/src/LoadingDebugAir.airi
/loadingAir/src/LoadingAir.app/*
/loadingAir/src/LoadingDebugAir.app/*
assets/att/*
*.apks
*.apk
*.aab
*.log
RECOVER_*.fla
aneExtension/*
*.bat
loadingAirAndroid/src/apm_packages/*
/aneExtension/app-debug.aar
/dxvk-2.3/*
/aneBuild/**/*.ane
/aneBuild/**/*.swc
/aneBuild/**/*.aar
/aneBuild/**/*.jar
/aneBuild/**/*.dll
/aneBuild/**/*.so
/aneBuild/**/*.a
/aneBuild/**/*.framework
/aneBuild/**/*.swf